<form ng-submit="loginUser()">
    <div id="loginbox" style="margin-top:50px;margin-bottom:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form name="loginForm">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div id="login-alert" ng-show="invalidCredetials" class="alert alert-danger col-sm-12">Invalid username or password</div>

                    <form id="loginform" class="form-horizontal" role="form">
                        <div style="margin-bottom: 25px">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="email" class="form-control" name="username" ng-model="username" placeholder="email" required>
                            </div>
                            <div role="alert">
                                <span class="error" ng-show="loginForm.username.$error.required">(required)</span>
                                <span class="error" ng-show="loginForm.username.$error.email">(please provide a valid email address)</span>
                            </div>
                        </div>
                        <div style="margin-bottom: 25px">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" ng-model="password" placeholder="password" required>
                            </div>
                            <div role="alert">
                                <span class="error" ng-show="loginForm.password.$error.required">(required)</span>
                            </div>
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    <button type="submit" class="btn btn-success">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</form>